
Tests/tournament/pool/bracket/GroupBracketTest\.java

Tests/tournament/pool/bracket/KnockoutBracketTest\.java

Tests/tournament/pool/knockoutbracket/KnockoutBracketTest\.java

Tests/tournament/pool/knockoutbracket/PlacementBracketTest\.java

Tests/tournament/pool/playoffbracket/PlayoffGroupPlayTest\.java

Tests/tournament/pool/groupbracket/StandardGroupPlayTest\.java
